#about-us {
  .carousel-indicators {
    position: static;
    padding-top: 30px;

    li {
      background-color: #6c757d;
      width: 12px;
      height: 12px;
      margin-left: 5px;
    }

    .active {
      background-color: black !important;
    }
    .carousel-contro-next,
    .carousel-contro-prve {
      width: auto;
    }
  }

  .carousel-control-prev-icon {
    background-image: url('../img/left-arrow.svg');
    padding: 25px;
  }

  .carousel-control-next-icon {
    background-image: url('../img/right-arrow.svg');
    padding: 25px;
  }

  .carousel-control-next {
    right: -130px;
  }

  .carousel-control-prev {
    left: -130px;
  }

  h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
    color: #6c757d !important;
  }

  p.lead {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: #f7cc4b !important;
    font-weight: bold;
  }

  h4.text-dark {
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
  }

  p.text-secondary {
    font-family: 'Roboto Condensed', sans-serif;
    color: darkgray;
  }

  #contents {
    margin-top: -350px;
  }

  .animation {
    &:hover {
      cursor: pointer;
    }
  }

  h4.text-dark {
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
  }

  p.text-secondary {
    font-family: 'Roboto Condensed', sans-serif;
    color: darkgray;
  }

  .animation {
    &:hover {
      cursor: pointer;
      .rotate {
        -webkit-animation: spin 4s linear infinite;
        -moz-animation: spin 4s linear infinite;
        animation: spin 4s linear infinite;
      }
      .shake {
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    }
  }
}

#contents {
  margin-top: -350px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.spin3d {
  transition: 1s;
  transform-style: preserve-3d;

  &:hover {
    .spin3d {
      transform: rotateY(180deg);
    }
  }
}
