.numbers {
    background-image: url('..//img/bg-testimonials.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 140px;
    padding-bottom: 150px;
    font-family: 'Oswald', sans-serif;

    .big-size {
        font-size: 70px;
    }
}

.color-fff {
    color: white;
}

.fs-35 {
    font-size: 70px;
}

.fw-700 {
    font-weight: bold;
}

.color-aaa {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 18px;
    color: white !important;
    letter-spacing: 2px;

}