.post-slide {
    margin: 0 10px;



    .post-content {
        padding: 40px 0;
        position: relative;
    }

    .post-author {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        position: absolute;
        top: -45px;
        right: 10px;
        overflow: hidden;
        border: 4px solid white;

        img {
            width: 100%;
            height: auto;
        }
    }

    .post-info {
        padding: 5px 0;
        margin: 0;
        list-style: none;

        li {
            display: inline-block;
            margin: 0 5px;
        }

        li i {
            margin-right: 8px;
        }



        li a {
            font-size: 11px;
            font-weight: bold;
            color: dimgray;
            text-transform: uppercase;
        }

        li a:hover {
            color: #1dcfd1;
            text-decoration: none;
        }
    }

    .post-img {
        position: relative;
    }

    .post-img:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 0.40s linear 0s;
    }

    .read {
        position: absolute;
        bottom: 30px;
        left: 50px;
        font-size: 14px;
        color: white;
        text-transform: capitalize;
        opacity: 0;
        transition: opacity 0.40s linear 0s;
    }

    .read:hover {
        text-decoration: none;
        color: #1dcfd1;
    }

    .post-title {
        font-size: 14px;
        font-weight: bold;
        color: #1dcfd1;
        margin: 0 0 10px 0;
        text-transform: uppercase;
        transition: all 0.3s linear 0s;
    }

    .post-title:after {
        content: "";
        width: 25px;
        display: block;
        margin-top: 10px;
        border-bottom: 4px solid #333;
    }

    .post-description {
        font-size: 14px;
        color: #555;
        margin-bottom: 20px;
        font-family: 'Roboto Condensed', sans-serif;
    }

}



.post-slide:hover {
    .post-img:before {
        opacity: 1;
    }

    .read {
        opacity: 1;
    }

}